@charset "UTF-8";

@font-face{
	font-family: Belwe Medium;
	src: url(fonts/OPTIBelwe-Medium.otf);
}
ul{
	font-size: 0px;	
}
ul, li, nav, a{
	margin: 0;
	padding: 0;
}
nav{
	width: calc(100%-4px);
	height: 26px;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	border-style: solid;
	border-width: 2px;
	border-color: #278568;
}
nav ul{
	height: 100%;
	width: 100%;
	background-color: #39bf95;
}
nav li{
	float: left;
	display: block;
}
nav a{
	height: 26px;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	border-style: solid;
	border-width: 2px;
	border-color: #278568;
	text-align: center;
	margin-left: -2px;
	margin-top: -2px;
	text-decoration: none;
	color: #11392c;
	background-color: #39bf95;
	transition: 0.5s;
}
nav a div{
	display: block;
	font-size: 16px;
	font-family: helvetica;
	font-style: normal;
	margin-top: 5px;
}
nav a:hover{
	color: #39bf95;
	background-color: #278568;
}


ul#cards{
	width: 1024px;
	background-color: #404040;
	background-color: rgba(120, 120, 120, 0.4);
}

ul#cards li{
	text-align: center;
	width: 25%;
	display: inline-grid;
	font-size: 14px;
	margin-bottom: 10px;
	margin-top: 10px;
}
li p{
	width: 95%;
	padding: 0;
	margin: 0;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: "Belwe Medium", Belwe, Helvetica;
}
li a img{
	width: 100%;
	padding: 0;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}
html{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;

}
body{
	background-image: url(images/chain.png);
	color: #eeeeee;	
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: calc(100vh - 70px);
}
footer{
	font-style: italic;
	font-family: serif;
}
div.container{
	width: 100vw;
	min-height: calc(100vh - 72px);
	background-color: black;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0px;
	padding: 0px;
	display: flex;
}
div.content{
	width: 1024px;
	margin-left: auto;
	margin-right: auto;
}
h1{
	padding: 0px;
	padding-left: 5px;
	margin: 0px;
	height: 40px;
	width: calc(100% - 9px);
	margin-bottom: -2px;
	background-color: #39bf95;
	border-style: solid;
	border-width: 2px;
	border-color: #278568;
}