@charset "UTF-8";

ul, p, li, nav, a{
	margin: 0px;
	padding: 0px;
}
nav{
	width: calc(100%-4px);
	height: 26px;
	position: -webkit-sticky;
	position: sticky;
	top: 0px;
	border-style: solid;
	border-width: 2px;
	border-color: #278568;
}
nav ul{
	height: 100%;
	width: 100%;
	background-color: #39bf95;
	font-size: 0px;	
}
nav li{
	height: 26px;
	padding-left: 5px;
	padding-right: 5px;
	display: inline-block;
	border-style: solid;
	border-width: 2px;
	border-color: #278568;
	text-align: center;
	margin-left: -2px;
	margin-top: -2px;
}
nav a{
	display: block;
	font-size: 16px;
	font-family: helvetica;
	color: black;
	font-style: normal;
	text-decoration: none;
	margin-top: 5px;
}
html{
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;

}
body{
	background-image: url(images/chain.png);
	color: #eeeeee;	
	margin: 0px;
	padding: 0px;
	width: 100%;
	min-height: calc(100vh - 70px);
}
div.container{
	width: 100vw;
	min-height: calc(100vh - 72px);
	background-color: black;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0px;
	padding: 0px;
	display: flex;
}
div.content{
	width: 1024px;
	margin: auto;
	margin-top: 104px;
	font-size: 16px;
	font-family: georgia;
	color: #eeeeee;
}
div#bg{
	background-color: #404040;
	background-color: rgba(120, 120, 120, 0.4);
}
div#bio{
	width: calc(100% - 20px);
	padding-bottom: 10px;
	padding-top: 10px;
	margin: auto;
}
h1{
	padding: 0px;
	padding-left: 5px;
	margin: 0px;
	height: 40px;
	width: calc(100% - 9px);
	margin-bottom: -2px;
	background-color: #39bf95;
	border-style: solid;
	border-width: 2px;
	border-color: #278568;
}
ul#nicknames{
	padding-left: 25px;
}
footer{
	font-style: italic;
	font-family: serif;
	margin: auto;
	margin-top: 15px;
}